workflows/Cargar 200 videojuegos Qdrant/Cargar 200 juegos.json
{
  "name": "Cargar 200 juegos",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "13e55ce9-35be-48f1-899f-df543d61151b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "Videojuegos",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        800,
        0
      ],
      "id": "00257071-39d4-41bb-9fa8-11571b9cce7a",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "NOlMahrUSmXWzFg7",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        752,
        160
      ],
      "id": "2f5de901-ee84-4f5b-bfa4-0d43eddeb04c",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "i1Mw6ZlfOkI6GHPS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pageContent }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        160
      ],
      "id": "a37ae291-8955-4065-af7d-77bf6563dbe9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        976,
        336
      ],
      "id": "41ce0544-b4cd-4946-b59b-67f70c8ee9c9",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "710f2842-2541-4740-98d2-3275081d2123",
              "leftValue": "={{ $json.genero }}",
              "rightValue": "RPG",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        560,
        -144
      ],
      "id": "716954d1-836b-4b0a-bc77-d878ffd41d5b",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "## Trigger Inicial\n\nSolo se activa el trigger al darle **click al \"execute workflow\"**",
        "height": 192,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -32
      ],
      "typeVersion": 1,
      "id": "7189c3e1-9507-4888-a464-03115d02cbb9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Formato\n\n### Formateador de datos\n\nCogemos los datos, los guardamos en una constante y  usando map añadimos una key  \"pageContent\" con su respectivo contenido \n al objeto.",
        "height": 336,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        144
      ],
      "typeVersion": 1,
      "id": "6208badc-36bd-4b51-84cb-aa2bffd693ea",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Filtrador (filter)\n\nFiltrador simple de géneros",
        "height": 144,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -16
      ],
      "typeVersion": 1,
      "id": "70d44c27-4f17-45c6-bc63-295ec96e3613",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Filtrador (code js)\n\nFiltrador simple de géneros (usando .filter y uppercase)",
        "height": 192,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        304
      ],
      "typeVersion": 1,
      "id": "8a768768-c5ff-43d0-b801-546e6f4ebcee",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Qdrant\nGuarda los embeddings generados por ollama despues de recibir la data del default Data loader",
        "height": 192,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        -208
      ],
      "typeVersion": 1,
      "id": "cf9f5a1a-2cc8-41a2-b143-568d2ddcfada",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const videojuegos = [\n  {\n    id: \"1\",\n    nombre: \"The Witcher 3: Wild Hunt\",\n    genero: \"RPG\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Aventura épica de mundo abierto con Geralt de Rivia cazando monstruos en un universo de fantasía oscura\",\n    precio: \"39.99\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"CD Projekt Red\",\n    año: \"2015\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/292030/header.jpg\",\n  },\n  {\n    id: \"2\",\n    nombre: \"Elden Ring\",\n    genero: \"Souls-like\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"RPG de acción desafiante creado por FromSoftware y George R.R. Martin en mundo abierto sombrío\",\n    precio: \"59.99\",\n    tematica: \"Fantasía Oscura\",\n    desarrollador: \"FromSoftware\",\n    año: \"2022\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1245620/header.jpg\",\n  },\n  {\n    id: \"3\",\n    nombre: \"Red Dead Redemption 2\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Épica del viejo oeste con narrativa cinematográfica y mundo abierto detallado\",\n    precio: \"59.99\",\n    tematica: \"Western\",\n    desarrollador: \"Rockstar Games\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1174180/header.jpg\",\n  },\n  {\n    id: \"4\",\n    nombre: \"God of War (2018)\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS5\",\n    descripcion:\n      \"Reinvención de la saga con Kratos y Atreus explorando la mitología nórdica\",\n    precio: \"49.99\",\n    tematica: \"Mitología Nórdica\",\n    desarrollador: \"Santa Monica Studio\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1593500/header.jpg\",\n  },\n  {\n    id: \"5\",\n    nombre: \"The Last of Us Part II\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PS5\",\n    descripcion:\n      \"Secuela post-apocalíptica con narrativa madura sobre venganza y redención\",\n    precio: \"59.99\",\n    tematica: \"Post-apocalíptico\",\n    desarrollador: \"Naughty Dog\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1594110/header.jpg\",\n  },\n  {\n    id: \"6\",\n    nombre: \"Baldur's Gate 3\",\n    genero: \"RPG\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"RPG táctico basado en Dungeons & Dragons con libertad narrativa extrema\",\n    precio: \"59.99\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"Larian Studios\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1086940/header.jpg\",\n  },\n  {\n    id: \"7\",\n    nombre: \"Cyberpunk 2077\",\n    genero: \"RPG/Acción\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"RPG de mundo abierto en Night City con implantes cibernéticos y decisiones morales\",\n    precio: \"59.99\",\n    tematica: \"Cyberpunk\",\n    desarrollador: \"CD Projekt Red\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1091500/header.jpg\",\n  },\n  {\n    id: \"8\",\n    nombre: \"Horizon Zero Dawn\",\n    genero: \"Acción/RPG\",\n    plataforma: \"PC/PS5\",\n    descripcion:\n      \"Mundo post-apocalíptico dominado por máquinas prehistóricas cazadas por Aloy\",\n    precio: \"49.99\",\n    tematica: \"Post-apocalíptico\",\n    desarrollador: \"Guerrilla Games\",\n    año: \"2017\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1151640/header.jpg\",\n  },\n  {\n    id: \"9\",\n    nombre: \"Ghost of Tsushima\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS5\",\n    descripcion:\n      \"Samurái Jin Sakai defiende la isla de Tsushima de invasión mongola en 1274\",\n    precio: \"59.99\",\n    tematica: \"Japón Feudal\",\n    desarrollador: \"Sucker Punch\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1817190/header.jpg\",\n  },\n  {\n    id: \"10\",\n    nombre: \"Hades\",\n    genero: \"Roguelike\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Roguelike narrativo donde Zagreo escapa del inframundo griego con combate dinámico\",\n    precio: \"24.99\",\n    tematica: \"Mitología Griega\",\n    desarrollador: \"Supergiant Games\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1145360/header.jpg\",\n  },\n  {\n    id: \"11\",\n    nombre: \"Sekiro: Shadows Die Twice\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Shinobi en Japón del período Sengoku con combate basado en paradas y postura\",\n    precio: \"59.99\",\n    tematica: \"Japón Feudal\",\n    desarrollador: \"FromSoftware\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/814380/header.jpg\",\n  },\n  {\n    id: \"12\",\n    nombre: \"Persona 5 Royal\",\n    genero: \"JRPG\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"JRPG estilizado sobre ladrones de corazones que cambian la sociedad corrupta\",\n    precio: \"59.99\",\n    tematica: \"Contemporáneo/Fantasía\",\n    desarrollador: \"Atlus\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1687950/header.jpg\",\n  },\n  {\n    id: \"13\",\n    nombre: \"Divinity: Original Sin 2\",\n    genero: \"RPG\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"RPG táctico cooperativo con combate por turnos basado en elementos y física\",\n    precio: \"44.99\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"Larian Studios\",\n    año: \"2017\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/435150/header.jpg\",\n  },\n  {\n    id: \"14\",\n    nombre: \"Dark Souls 3\",\n    genero: \"Souls-like\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Conclusión de la trilogía Souls con combate preciso en reino decadente\",\n    precio: \"39.99\",\n    tematica: \"Fantasía Oscura\",\n    desarrollador: \"FromSoftware\",\n    año: \"2016\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/374320/header.jpg\",\n  },\n  {\n    id: \"15\",\n    nombre: \"Bloodborne\",\n    genero: \"Souls-like\",\n    plataforma: \"PS4/PS5\",\n    descripcion:\n      \"Acción gótica victoriana con horror lovecraftiano y transformaciones bestiales\",\n    precio: \"19.99\",\n    tematica: \"Horror Gótico\",\n    desarrollador: \"FromSoftware\",\n    año: \"2015\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/8/8/772488_front.jpg\",\n  },\n  {\n    id: \"16\",\n    nombre: \"Spider-Man (2018)\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS5\",\n    descripcion:\n      \"Peter Parker balancea vida personal y protección de Nueva York con mecánicas fluidas\",\n    precio: \"49.99\",\n    tematica: \"Superhéroes\",\n    desarrollador: \"Insomniac Games\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1817070/header.jpg\",\n  },\n  {\n    id: \"17\",\n    nombre: \"Zelda: Breath of the Wild\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"Switch\",\n    descripcion:\n      \"Reinvención de Zelda con mundo abierto físico y libertad total de exploración\",\n    precio: \"59.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Nintendo\",\n    año: \"2017\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/5/6/688736_front.jpg\",\n  },\n  {\n    id: \"18\",\n    nombre: \"Zelda: Tears of the Kingdom\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"Switch\",\n    descripcion:\n      \"Secuela de BotW con mecánicas de construcción y exploración vertical expandida\",\n    precio: \"69.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Nintendo\",\n    año: \"2023\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/5/5/3725825_front.jpg\",\n  },\n  {\n    id: \"19\",\n    nombre: \"Super Mario Odyssey\",\n    genero: \"Plataformas\",\n    plataforma: \"Switch\",\n    descripcion:\n      \"Aventura 3D de Mario capturando enemigos con Cappy en mundos diversos\",\n    precio: \"59.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Nintendo\",\n    año: \"2017\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/5/2/744482_front.jpg\",\n  },\n  {\n    id: \"20\",\n    nombre: \"Hollow Knight\",\n    genero: \"Metroidvania\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Metroidvania oscuro explorando Hallownest con combate preciso y atmosfera melancólica\",\n    precio: \"14.99\",\n    tematica: \"Fantasía Oscura\",\n    desarrollador: \"Team Cherry\",\n    año: \"2017\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/367520/header.jpg\",\n  },\n  {\n    id: \"21\",\n    nombre: \"Celeste\",\n    genero: \"Plataformas\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Plataformas precisas sobre salud mental escalando montaña mágica\",\n    precio: \"19.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Maddy Makes Games\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/504230/header.jpg\",\n  },\n  {\n    id: \"22\",\n    nombre: \"Dead Cells\",\n    genero: \"Roguelike/Metroidvania\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Roguelite de acción 2D con combate rápido y progresión permanente\",\n    precio: \"24.99\",\n    tematica: \"Fantasía Oscura\",\n    desarrollador: \"Motion Twin\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/588650/header.jpg\",\n  },\n  {\n    id: \"23\",\n    nombre: \"Stardew Valley\",\n    genero: \"Simulación\",\n    plataforma: \"PC/PS4/Xbox/Switch/Mobile\",\n    descripcion:\n      \"Simulador de granja relajante con agricultura minería pesca y vida social\",\n    precio: \"14.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"ConcernedApe\",\n    año: \"2016\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/413150/header.jpg\",\n  },\n  {\n    id: \"24\",\n    nombre: \"Disco Elysium\",\n    genero: \"RPG\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"RPG narrativo sin combate sobre detective amnésico en ciudad decadente\",\n    precio: \"39.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"ZA/UM\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/632470/header.jpg\",\n  },\n  {\n    id: \"25\",\n    nombre: \"Outer Wilds\",\n    genero: \"Aventura/Puzzle\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Exploración espacial en bucle temporal de 22 minutos descubriendo civilización alienígena\",\n    precio: \"24.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Mobius Digital\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/753640/header.jpg\",\n  },\n  {\n    id: \"26\",\n    nombre: \"Return of the Obra Dinn\",\n    genero: \"Puzzle/Aventura\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Misterio detectivesco deduciendo 60 muertes en barco fantasma del siglo XIX\",\n    precio: \"19.99\",\n    tematica: \"Histórico\",\n    desarrollador: \"Lucas Pope\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/602760/header.jpg\",\n  },\n  {\n    id: \"27\",\n    nombre: \"Control\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Directora del Bureau investiga fenómenos paranormales en edificio cambiante\",\n    precio: \"29.99\",\n    tematica: \"Sobrenatural\",\n    desarrollador: \"Remedy Entertainment\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/870780/header.jpg\",\n  },\n  {\n    id: \"28\",\n    nombre: \"Death Stranding\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS5\",\n    descripcion:\n      \"Sam Porter reconecta América post-apocalíptica entregando paquetes en terreno hostil\",\n    precio: \"39.99\",\n    tematica: \"Post-apocalíptico\",\n    desarrollador: \"Kojima Productions\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1190460/header.jpg\",\n  },\n  {\n    id: \"29\",\n    nombre: \"Metro Exodus\",\n    genero: \"FPS/Survival\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Shooter post-nuclear atravesando Rusia en tren Aurora con recursos limitados\",\n    precio: \"39.99\",\n    tematica: \"Post-apocalíptico\",\n    desarrollador: \"4A Games\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/412020/header.jpg\",\n  },\n  {\n    id: \"30\",\n    nombre: \"Resident Evil 2 Remake\",\n    genero: \"Survival Horror\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Remake del clásico survival horror en Raccoon City durante brote zombie\",\n    precio: \"39.99\",\n    tematica: \"Horror/Zombies\",\n    desarrollador: \"Capcom\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/883710/header.jpg\",\n  },\n  {\n    id: \"31\",\n    nombre: \"Resident Evil Village\",\n    genero: \"Survival Horror\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Ethan Winters busca a su hija en pueblo europeo con criaturas licántropas\",\n    precio: \"59.99\",\n    tematica: \"Horror Gótico\",\n    desarrollador: \"Capcom\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1196590/header.jpg\",\n  },\n  {\n    id: \"32\",\n    nombre: \"Doom Eternal\",\n    genero: \"FPS\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Shooter frenético cazando demonios en Tierra y otros planetas con arsenal brutal\",\n    precio: \"39.99\",\n    tematica: \"Ciencia Ficción/Horror\",\n    desarrollador: \"id Software\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/782330/header.jpg\",\n  },\n  {\n    id: \"33\",\n    nombre: \"Titanfall 2\",\n    genero: \"FPS\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Shooter con parkour fluido y mechas gigantes Titanes en campaña memorable\",\n    precio: \"29.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Respawn Entertainment\",\n    año: \"2016\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1237970/header.jpg\",\n  },\n  {\n    id: \"34\",\n    nombre: \"Prey (2017)\",\n    genero: \"FPS/Immersive Sim\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Inmersive sim en estación espacial Talos I infestada por alienígenas Typhon\",\n    precio: \"29.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Arkane Studios\",\n    año: \"2017\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/475150/header.jpg\",\n  },\n  {\n    id: \"35\",\n    nombre: \"Dishonored 2\",\n    genero: \"Acción/Stealth\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Sigilo supernatural como Corvo o Emily recuperando trono en Karnaca steampunk\",\n    precio: \"39.99\",\n    tematica: \"Steampunk\",\n    desarrollador: \"Arkane Studios\",\n    año: \"2016\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/323800/header.jpg\",\n  },\n  {\n    id: \"36\",\n    nombre: \"Deathloop\",\n    genero: \"FPS/Acción\",\n    plataforma: \"PC/PS5\",\n    descripcion:\n      \"Asesino atrapado en bucle temporal debe eliminar 8 objetivos en isla Blackreef\",\n    precio: \"59.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Arkane Studios\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1252330/header.jpg\",\n  },\n  {\n    id: \"37\",\n    nombre: \"It Takes Two\",\n    genero: \"Cooperativo/Aventura\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Aventura cooperativa obligatoria de pareja transformada en muñecos\",\n    precio: \"39.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Hazelight Studios\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1097150/header.jpg\",\n  },\n  {\n    id: \"38\",\n    nombre: \"A Way Out\",\n    genero: \"Cooperativo/Aventura\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Cooperativo narrativo de escape de prisión split-screen obligatorio\",\n    precio: \"29.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Hazelight Studios\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/391830/header.jpg\",\n  },\n  {\n    id: \"39\",\n    nombre: \"Monster Hunter: World\",\n    genero: \"Acción/RPG\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Caza cooperativa de monstruos gigantes en ecosistemas vivos del Nuevo Mundo\",\n    precio: \"29.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Capcom\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/582010/header.jpg\",\n  },\n  {\n    id: \"40\",\n    nombre: \"Monster Hunter Rise\",\n    genero: \"Acción/RPG\",\n    plataforma: \"PC/Switch\",\n    descripcion:\n      \"Caza de monstruos con Wirebugs permitiendo movilidad vertical en Kamura\",\n    precio: \"39.99\",\n    tematica: \"Fantasía Japonesa\",\n    desarrollador: \"Capcom\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1446250/header.jpg\",\n  },\n  {\n    id: \"41\",\n    nombre: \"Final Fantasy VII Remake\",\n    genero: \"JRPG\",\n    plataforma: \"PC/PS5\",\n    descripcion:\n      \"Remake expandido de FF7 con combate en tiempo real en ciudad Midgar\",\n    precio: \"59.99\",\n    tematica: \"Fantasía/Steampunk\",\n    desarrollador: \"Square Enix\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1462360/header.jpg\",\n  },\n  {\n    id: \"42\",\n    nombre: \"Final Fantasy XVI\",\n    genero: \"JRPG/Acción\",\n    plataforma: \"PS5\",\n    descripcion:\n      \"RPG de acción medieval con Eikons (invocaciones) en guerra de naciones\",\n    precio: \"69.99\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"Square Enix\",\n    año: \"2023\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/10/2/3764027_front.jpg\",\n  },\n  {\n    id: \"43\",\n    nombre: \"Dragon Age: Inquisition\",\n    genero: \"RPG\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"RPG táctico liderando Inquisición contra brecha demoníaca en Thedas\",\n    precio: \"39.99\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"BioWare\",\n    año: \"2014\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1222690/header.jpg\",\n  },\n  {\n    id: \"44\",\n    nombre: \"Mass Effect Legendary Edition\",\n    genero: \"RPG\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Trilogía remasterizada de space opera con decisiones que persisten\",\n    precio: \"59.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"BioWare\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1238040/header.jpg\",\n  },\n  {\n    id: \"45\",\n    nombre: \"Assassin's Creed Valhalla\",\n    genero: \"Acción/RPG\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Vikingo Eivor conquista Inglaterra sajona en edad oscura con sigilo y saqueo\",\n    precio: \"59.99\",\n    tematica: \"Histórico/Vikingo\",\n    desarrollador: \"Ubisoft\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/2208920/header.jpg\",\n  },\n  {\n    id: \"46\",\n    nombre: \"Assassin's Creed Origins\",\n    genero: \"Acción/RPG\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Origen de la Hermandad en Egipto ptolemaico con Bayek como Medjay\",\n    precio: \"39.99\",\n    tematica: \"Histórico/Egipto\",\n    desarrollador: \"Ubisoft\",\n    año: \"2017\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/582160/header.jpg\",\n  },\n  {\n    id: \"47\",\n    nombre: \"Far Cry 6\",\n    genero: \"FPS/Acción\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Revolución contra dictador Anton Castillo en isla tropical Yara\",\n    precio: \"59.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Ubisoft\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1352070/header.jpg\",\n  },\n  {\n    id: \"48\",\n    nombre: \"Watch Dogs: Legion\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Recluta cualquier NPC para DedSec liberando Londres distópico vigilado\",\n    precio: \"49.99\",\n    tematica: \"Cyberpunk\",\n    desarrollador: \"Ubisoft\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1255980/header.jpg\",\n  },\n  {\n    id: \"49\",\n    nombre: \"Immortals Fenyx Rising\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Aventura mitológica griega con puzzles físicos y combate estilo Zelda\",\n    precio: \"49.99\",\n    tematica: \"Mitología Griega\",\n    desarrollador: \"Ubisoft\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/992210/header.jpg\",\n  },\n  {\n    id: \"50\",\n    nombre: \"Gears 5\",\n    genero: \"TPS\",\n    plataforma: \"PC/Xbox\",\n    descripcion:\n      \"Shooter cover-based contra Swarm con Kait descubriendo su conexión Locust\",\n    precio: \"39.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"The Coalition\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1097840/header.jpg\",\n  },\n  {\n    id: \"51\",\n    nombre: \"Halo Infinite\",\n    genero: \"FPS\",\n    plataforma: \"PC/Xbox\",\n    descripcion:\n      \"Master Chief en anillo Zeta con gancho y mundo semi-abierto contra Desterrados\",\n    precio: \"59.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"343 Industries\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1240440/header.jpg\",\n  },\n  {\n    id: \"52\",\n    nombre: \"Forza Horizon 5\",\n    genero: \"Carreras\",\n    plataforma: \"PC/Xbox\",\n    descripcion:\n      \"Festival de carreras arcade en México abierto con cientos de coches\",\n    precio: \"59.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Playground Games\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1551360/header.jpg\",\n  },\n  {\n    id: \"53\",\n    nombre: \"Gran Turismo 7\",\n    genero: \"Carreras\",\n    plataforma: \"PS5\",\n    descripcion:\n      \"Simulador realista de carreras con GT Café y colección masiva de vehículos\",\n    precio: \"69.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Polyphony Digital\",\n    año: \"2022\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/10/0/3875578_front.jpg\",\n  },\n  {\n    id: \"54\",\n    nombre: \"F1 2023\",\n    genero: \"Carreras\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Simulador oficial de Fórmula 1 con todas las pistas y pilotos de temporada\",\n    precio: \"69.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Codemasters\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/2109040/header.jpg\",\n  },\n  {\n    id: \"55\",\n    nombre: \"FIFA 24\",\n    genero: \"Deportes\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Simulador de fútbol EA Sports FC con Ultimate Team y Career Mode\",\n    precio: \"69.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"EA Sports\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/2255420/header.jpg\",\n  },\n  {\n    id: \"56\",\n    nombre: \"NBA 2K24\",\n    genero: \"Deportes\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Simulador de baloncesto con MyCareer y jugadores NBA actualizados\",\n    precio: \"69.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"2K Sports\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1967206/header.jpg\",\n  },\n  {\n    id: \"57\",\n    nombre: \"MLB The Show 23\",\n    genero: \"Deportes\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion: \"Béisbol simulación con Diamond Dynasty y Road to the Show\",\n    precio: \"59.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Sony San Diego\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1924920/header.jpg\",\n  },\n  {\n    id: \"58\",\n    nombre: \"Madden NFL 24\",\n    genero: \"Deportes\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion: \"Fútbol americano con Franchise Mode y equipos NFL completos\",\n    precio: \"69.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"EA Sports\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1865080/header.jpg\",\n  },\n  {\n    id: \"59\",\n    nombre: \"Rocket League\",\n    genero: \"Deportes/Arcade\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Fútbol con coches propulsados por cohetes en partidas competitivas\",\n    precio: \"Free\",\n    tematica: \"Futurista\",\n    desarrollador: \"Psyonix\",\n    año: \"2015\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/252950/header.jpg\",\n  },\n  {\n    id: \"60\",\n    nombre: \"Fall Guys\",\n    genero: \"Party/Battle Royale\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion: \"Battle royale de minijuegos coloridos para 60 jugadores\",\n    precio: \"Free\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Mediatonic\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1193120/header.jpg\",\n  },\n  {\n    id: \"61\",\n    nombre: \"Among Us\",\n    genero: \"Social Deduction\",\n    plataforma: \"PC/PS4/Xbox/Switch/Mobile\",\n    descripcion:\n      \"Deducción social encontrando impostores saboteando nave espacial\",\n    precio: \"5.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Innersloth\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/945360/header.jpg\",\n  },\n  {\n    id: \"62\",\n    nombre: \"Overcooked 2\",\n    genero: \"Cooperativo/Puzzle\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Cocina cooperativa caótica completando pedidos en cocinas imposibles\",\n    precio: \"24.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Ghost Town Games\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/448510/header.jpg\",\n  },\n  {\n    id: \"63\",\n    nombre: \"Cuphead\",\n    genero: \"Run and Gun\",\n    plataforma: \"PC/Xbox/Switch/PS4\",\n    descripcion:\n      \"Run and gun con gráficos años 30 y jefes brutalmente difíciles\",\n    precio: \"19.99\",\n    tematica: \"Cartoon\",\n    desarrollador: \"Studio MDHR\",\n    año: \"2017\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/268910/header.jpg\",\n  },\n  {\n    id: \"64\",\n    nombre: \"Ori and the Blind Forest\",\n    genero: \"Metroidvania\",\n    plataforma: \"PC/Xbox/Switch\",\n    descripcion:\n      \"Metroidvania emocional con plataformas precisas en bosque bioluminiscente\",\n    precio: \"19.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Moon Studios\",\n    año: \"2015\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/261570/header.jpg\",\n  },\n  {\n    id: \"65\",\n    nombre: \"Ori and the Will of the Wisps\",\n    genero: \"Metroidvania\",\n    plataforma: \"PC/Xbox/Switch\",\n    descripcion:\n      \"Secuela expandida de Ori con combate mejorado y mundo más grande\",\n    precio: \"29.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Moon Studios\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1097480/header.jpg\",\n  },\n  {\n    id: \"66\",\n    nombre: \"Minecraft\",\n    genero: \"Sandbox\",\n    plataforma: \"PC/PS5/Xbox/Switch/Mobile\",\n    descripcion:\n      \"Construcción y supervivencia en mundos procedurales de bloques infinitos\",\n    precio: \"26.95\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Mojang Studios\",\n    año: \"2011\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/0/0/663403_front.jpg\",\n  },\n  {\n    id: \"67\",\n    nombre: \"Terraria\",\n    genero: \"Sandbox\",\n    plataforma: \"PC/PS4/Xbox/Switch/Mobile\",\n    descripcion:\n      \"Exploración 2D con construcción minería y combate contra jefes épicos\",\n    precio: \"9.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Re-Logic\",\n    año: \"2011\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/105600/header.jpg\",\n  },\n  {\n    id: \"68\",\n    nombre: \"No Man's Sky\",\n    genero: \"Exploración/Supervivencia\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Exploración espacial procedural con quintillones de planetas y bases\",\n    precio: \"29.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Hello Games\",\n    año: \"2016\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/275850/header.jpg\",\n  },\n  {\n    id: \"69\",\n    nombre: \"Subnautica\",\n    genero: \"Supervivencia\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Supervivencia submarina en planeta alienígena 4546B con criaturas abisales\",\n    precio: \"29.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Unknown Worlds\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/264710/header.jpg\",\n  },\n  {\n    id: \"70\",\n    nombre: \"The Forest\",\n    genero: \"Supervivencia/Horror\",\n    plataforma: \"PC/PS4\",\n    descripcion:\n      \"Supervivencia en isla con caníbales mutantes buscando hijo perdido\",\n    precio: \"19.99\",\n    tematica: \"Horror\",\n    desarrollador: \"Endnight Games\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/242760/header.jpg\",\n  },\n  {\n    id: \"71\",\n    nombre: \"Valheim\",\n    genero: \"Supervivencia\",\n    plataforma: \"PC\",\n    descripcion:\n      \"Supervivencia vikinga cooperativa en purgatorio nórdico procedural\",\n    precio: \"19.99\",\n    tematica: \"Mitología Nórdica\",\n    desarrollador: \"Iron Gate Studio\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/892970/header.jpg\",\n  },\n  {\n    id: \"72\",\n    nombre: \"Satisfactory\",\n    genero: \"Construcción\",\n    plataforma: \"PC\",\n    descripcion:\n      \"Factoría en primera persona en planeta alienígena con automatización masiva\",\n    precio: \"29.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Coffee Stain Studios\",\n    año: \"2024\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/526870/header.jpg\",\n  },\n  {\n    id: \"73\",\n    nombre: \"Factorio\",\n    genero: \"Construcción\",\n    plataforma: \"PC\",\n    descripcion:\n      \"Construcción de fábrica automatizada defendiendo de alienígenas nativos\",\n    precio: \"30.00\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Wube Software\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/427520/header.jpg\",\n  },\n  {\n    id: \"74\",\n    nombre: \"Cities: Skylines\",\n    genero: \"Simulación\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Simulador de construcción de ciudades con zonificación y gestión de tráfico\",\n    precio: \"29.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Colossal Order\",\n    año: \"2015\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/255710/header.jpg\",\n  },\n  {\n    id: \"75\",\n    nombre: \"Planet Zoo\",\n    genero: \"Simulación\",\n    plataforma: \"PC\",\n    descripcion:\n      \"Gestión detallada de zoológico con bienestar animal y construcción libre\",\n    precio: \"44.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Frontier Developments\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/703080/header.jpg\",\n  },\n  {\n    id: \"76\",\n    nombre: \"RimWorld\",\n    genero: \"Simulación/Estrategia\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion: \"Simulador de colonia sci-fi narrado por una IA cuentacuentos\",\n    precio: \"34.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Ludeon Studios\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/294100/header.jpg\",\n  },\n  {\n    id: \"77\",\n    nombre: \"Sid Meier's Civilization VI\",\n    genero: \"Estrategia\",\n    plataforma: \"PC/PS4/Xbox/Switch/Mobile\",\n    descripcion:\n      \"Estrategia por turnos 4X construyendo un imperio desde la antigüedad\",\n    precio: \"59.99\",\n    tematica: \"Histórico\",\n    desarrollador: \"Firaxis Games\",\n    año: \"2016\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/289070/header.jpg\",\n  },\n  {\n    id: \"78\",\n    nombre: \"Stellaris\",\n    genero: \"Estrategia\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Estrategia gran escala 4X explorando galaxia y gestionando imperio espacial\",\n    precio: \"39.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Paradox Development Studio\",\n    año: \"2016\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/281990/header.jpg\",\n  },\n  {\n    id: \"79\",\n    nombre: \"Crusader Kings III\",\n    genero: \"Estrategia/RPG\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Simulador de dinastía medieval con intrigas políticas y gestión de linaje\",\n    precio: \"49.99\",\n    tematica: \"Histórico Medieval\",\n    desarrollador: \"Paradox Development Studio\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1158310/header.jpg\",\n  },\n  {\n    id: \"80\",\n    nombre: \"Total War: Warhammer III\",\n    genero: \"Estrategia\",\n    plataforma: \"PC\",\n    descripcion:\n      \"Batallas tácticas masivas en tiempo real y gestión de campaña en mundo Warhammer\",\n    precio: \"59.99\",\n    tematica: \"Fantasía Oscura\",\n    desarrollador: \"Creative Assembly\",\n    año: \"2022\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1142710/header.jpg\",\n  },\n  {\n    id: \"81\",\n    nombre: \"Age of Empires IV\",\n    genero: \"Estrategia\",\n    plataforma: \"PC/Xbox\",\n    descripcion:\n      \"Estrategia en tiempo real clásica regresando a épocas históricas medievales\",\n    precio: \"39.99\",\n    tematica: \"Histórico Medieval\",\n    desarrollador: \"Relic Entertainment\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1466860/header.jpg\",\n  },\n  {\n    id: \"82\",\n    nombre: \"Starcraft II\",\n    genero: \"Estrategia\",\n    plataforma: \"PC\",\n    descripcion:\n      \"RTS competitivo definitivo con tres facciones: Terran Zerg y Protoss\",\n    precio: \"Free\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Blizzard Entertainment\",\n    año: \"2010\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/0/0/624944_front.jpg\",\n  },\n  {\n    id: \"83\",\n    nombre: \"XCOM 2\",\n    genero: \"Estrategia\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Estrategia táctica por turnos liderando resistencia contra ocupación alienígena\",\n    precio: \"49.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Firaxis Games\",\n    año: \"2016\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/268500/header.jpg\",\n  },\n  {\n    id: \"84\",\n    nombre: \"Fire Emblem: Three Houses\",\n    genero: \"Estrategia/RPG\",\n    plataforma: \"Switch\",\n    descripcion:\n      \"RPG táctico por turnos como profesor de academia militar en Fódlan\",\n    precio: \"59.99\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"Intelligent Systems\",\n    año: \"2019\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/1/0/685110_front.jpg\",\n  },\n  {\n    id: \"85\",\n    nombre: \"Triangle Strategy\",\n    genero: \"Estrategia/RPG\",\n    plataforma: \"PC/Switch\",\n    descripcion:\n      \"RPG táctico con estilo HD-2D y decisiones políticas que afectan la historia\",\n    precio: \"59.99\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"Square Enix\",\n    año: \"2022\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1850510/header.jpg\",\n  },\n  {\n    id: \"86\",\n    nombre: \"Inscryption\",\n    genero: \"Cartas/Roguelike\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Juego de cartas oscuro con elementos de escape room y misterio metaficcional\",\n    precio: \"19.99\",\n    tematica: \"Horror\",\n    desarrollador: \"Daniel Mullins Games\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1092790/header.jpg\",\n  },\n  {\n    id: \"87\",\n    nombre: \"Slay the Spire\",\n    genero: \"Cartas/Roguelike\",\n    plataforma: \"PC/PS4/Xbox/Switch/Mobile\",\n    descripcion:\n      \"Roguelike de construcción de mazos ascendiendo una torre con reliquias\",\n    precio: \"24.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Mega Crit Games\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/646570/header.jpg\",\n  },\n  {\n    id: \"88\",\n    nombre: \"Marvel's Snap\",\n    genero: \"Cartas\",\n    plataforma: \"PC/Mobile\",\n    descripcion:\n      \"Juego de cartas rápido de Marvel con mecánicas de apuesta y localizaciones\",\n    precio: \"Free\",\n    tematica: \"Superhéroes\",\n    desarrollador: \"Second Dinner\",\n    año: \"2022\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1997040/header.jpg\",\n  },\n  {\n    id: \"89\",\n    nombre: \"Hearthstone\",\n    genero: \"Cartas\",\n    plataforma: \"PC/Mobile\",\n    descripcion:\n      \"Juego de cartas coleccionables competitivo en universo Warcraft\",\n    precio: \"Free\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Blizzard Entertainment\",\n    año: \"2014\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/0/0/705708_front.jpg\",\n  },\n  {\n    id: \"90\",\n    nombre: \"Gwent: The Witcher Card Game\",\n    genero: \"Cartas\",\n    plataforma: \"PC/Mobile\",\n    descripcion: \"Juego de cartas táctico basado en minijuego de The Witcher 3\",\n    precio: \"Free\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"CD Projekt Red\",\n    año: \"2018\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/0/0/781075_front.jpg\",\n  },\n  {\n    id: \"91\",\n    nombre: \"Sea of Thieves\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Vida pirata cooperativa en mundo abierto buscando tesoros y combatiendo barcos\",\n    precio: \"39.99\",\n    tematica: \"Piratas\",\n    desarrollador: \"Rare\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1172470/header.jpg\",\n  },\n  {\n    id: \"92\",\n    nombre: \"Destiny 2\",\n    genero: \"FPS/MMO\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Looter shooter espacial defendiendo última ciudad de Tierra contra oscuridad\",\n    precio: \"Free\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Bungie\",\n    año: \"2017\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1085660/header.jpg\",\n  },\n  {\n    id: \"93\",\n    nombre: \"Warframe\",\n    genero: \"Acción/RPG\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Ninjas espaciales con armaduras bio-metálicas en misiones cooperativas\",\n    precio: \"Free\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Digital Extremes\",\n    año: \"2013\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/230410/header.jpg\",\n  },\n  {\n    id: \"94\",\n    nombre: \"Genshin Impact\",\n    genero: \"Acción/RPG\",\n    plataforma: \"PC/PS5/Mobile\",\n    descripcion:\n      \"Mundo abierto masivo con sistema elemental y personajes coleccionables gacha\",\n    precio: \"Free\",\n    tematica: \"Fantasía\",\n    desarrollador: \"HoYoverse\",\n    año: \"2020\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/0/0/815750_front.jpg\",\n  },\n  {\n    id: \"95\",\n    nombre: \"Honkai: Star Rail\",\n    genero: \"RPG por turnos\",\n    plataforma: \"PC/PS5/Mobile\",\n    descripcion:\n      \"Aventura espacial por turnos con personajes carismáticos y viaje galáctico\",\n    precio: \"Free\",\n    tematica: \"Ciencia Ficción/Fantasía\",\n    desarrollador: \"HoYoverse\",\n    año: \"2023\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/0/0/1032890_front.jpg\",\n  },\n  {\n    id: \"96\",\n    nombre: \"Final Fantasy XIV\",\n    genero: \"MMORPG\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"MMORPG masivo con narrativa profunda y comunidad acogedora en Eorzea\",\n    precio: \"19.99 + Sub\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"Square Enix\",\n    año: \"2013\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/39210/header.jpg\",\n  },\n  {\n    id: \"97\",\n    nombre: \"World of Warcraft\",\n    genero: \"MMORPG\",\n    plataforma: \"PC\",\n    descripcion:\n      \"Referente histórico de MMORPG explorando Azeroth con expansión continua\",\n    precio: \"12.99/mes\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"Blizzard Entertainment\",\n    año: \"2004\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/0/0/559813_front.jpg\",\n  },\n  {\n    id: \"98\",\n    nombre: \"Guild Wars 2\",\n    genero: \"MMORPG\",\n    plataforma: \"PC\",\n    descripcion:\n      \"MMORPG centrado en eventos dinámicos y combate fluido sin cuotas mensuales\",\n    precio: \"Free\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"ArenaNet\",\n    año: \"2012\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/0/0/675549_front.jpg\",\n  },\n  {\n    id: \"99\",\n    nombre: \"The Elder Scrolls Online\",\n    genero: \"MMORPG\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Explora todo Tamriel en este MMORPG con historia fully voiced\",\n    precio: \"19.99\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"ZeniMax Online Studios\",\n    año: \"2014\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/306130/header.jpg\",\n  },\n  {\n    id: \"100\",\n    nombre: \"Lost Ark\",\n    genero: \"MMORPG/ARPG\",\n    plataforma: \"PC\",\n    descripcion:\n      \"MMO de acción con perspectiva isométrica y combate espectacular\",\n    precio: \"Free\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Smilegate RPG\",\n    año: \"2022\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1599340/header.jpg\",\n  },\n  {\n    id: \"101\",\n    nombre: \"Baldur's Gate 2: Shadows of Amn\",\n    genero: \"RPG\",\n    plataforma: \"PC\",\n    descripcion:\n      \"Clásico absoluto del RPG isométrico basado en AD&D en Reinos Olvidados\",\n    precio: \"19.99\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"BioWare\",\n    año: \"2000\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/257350/header.jpg\",\n  },\n  {\n    id: \"102\",\n    nombre: \"Diablo IV\",\n    genero: \"ARPG\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Regreso a la oscuridad de Santuario con mundo abierto y loot infinito\",\n    precio: \"69.99\",\n    tematica: \"Fantasía Oscura\",\n    desarrollador: \"Blizzard Entertainment\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/2344520/header.jpg\",\n  },\n  {\n    id: \"103\",\n    nombre: \"Path of Exile\",\n    genero: \"ARPG\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"ARPG complejo con árbol de habilidades masivo y economía profunda\",\n    precio: \"Free\",\n    tematica: \"Fantasía Oscura\",\n    desarrollador: \"Grinding Gear Games\",\n    año: \"2013\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/238960/header.jpg\",\n  },\n  {\n    id: \"104\",\n    nombre: \"Hades II\",\n    genero: \"Roguelike\",\n    plataforma: \"PC\",\n    descripcion:\n      \"Secuela del aclamado roguelike controlando a Melinoë contra Cronos\",\n    precio: \"29.99\",\n    tematica: \"Mitología Griega\",\n    desarrollador: \"Supergiant Games\",\n    año: \"2024\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1145350/header.jpg\",\n  },\n  {\n    id: \"105\",\n    nombre: \"Dead Space Remake\",\n    genero: \"Survival Horror\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Remake fiel y aterrador del clásico de terror espacial en la Ishimura\",\n    precio: \"59.99\",\n    tematica: \"Ciencia Ficción/Horror\",\n    desarrollador: \"Motive Studio\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1693980/header.jpg\",\n  },\n  {\n    id: \"106\",\n    nombre: \"Alan Wake 2\",\n    genero: \"Survival Horror\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Misterio psicológico entrelazando historias de Alan Wake y Saga Anderson\",\n    precio: \"59.99\",\n    tematica: \"Horror/Sobrenatural\",\n    desarrollador: \"Remedy Entertainment\",\n    año: \"2023\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/1/0/2/385102_front.jpg\",\n  },\n  {\n    id: \"107\",\n    nombre: \"Silent Hill 2 Remake\",\n    genero: \"Survival Horror\",\n    plataforma: \"PC/PS5\",\n    descripcion:\n      \"Remake emocional y visualmente impactante del mejor horror psicológico\",\n    precio: \"69.99\",\n    tematica: \"Horror Psicológico\",\n    desarrollador: \"Bloober Team\",\n    año: \"2024\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/2124490/header.jpg\",\n  },\n  {\n    id: \"108\",\n    nombre: \"Phasmophobia\",\n    genero: \"Horror\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Investigación cooperativa de fantasmas usando herramientas de detección\",\n    precio: \"13.99\",\n    tematica: \"Sobrenatural\",\n    desarrollador: \"Kinetic Games\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/739630/header.jpg\",\n  },\n  {\n    id: \"109\",\n    nombre: \"Amnesia: The Bunker\",\n    genero: \"Horror/Survival\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Terror claustrofóbico en bunker de 1GM con criatura acechante dinámica\",\n    precio: \"24.99\",\n    tematica: \"Histórico/Horror\",\n    desarrollador: \"Frictional Games\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1944430/header.jpg\",\n  },\n  {\n    id: \"110\",\n    nombre: \"Outer Wilds: Echoes of the Eye\",\n    genero: \"Aventura/Puzzle\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Expansión masiva que añade nuevo mundo y misterio al universo Outer Wilds\",\n    precio: \"14.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Mobius Digital\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1626360/header.jpg\",\n  },\n  {\n    id: \"111\",\n    nombre: \"Starfield\",\n    genero: \"RPG/Acción\",\n    plataforma: \"PC/Xbox\",\n    descripcion:\n      \"RPG espacial de Bethesda explorando 1000 planetas y construyendo naves\",\n    precio: \"69.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Bethesda Game Studios\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1716740/header.jpg\",\n  },\n  {\n    id: \"112\",\n    nombre: \"Skyrim\",\n    genero: \"RPG\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Épica de fantasía de mundo abierto con libertad total y miles de mods\",\n    precio: \"39.99\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"Bethesda Game Studios\",\n    año: \"2011\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/489830/header.jpg\",\n  },\n  {\n    id: \"113\",\n    nombre: \"Fallout 4\",\n    genero: \"RPG/Acción\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Supervivencia post-nuclear en Boston construyendo asentamientos\",\n    precio: \"19.99\",\n    tematica: \"Post-apocalíptico\",\n    desarrollador: \"Bethesda Game Studios\",\n    año: \"2015\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/377160/header.jpg\",\n  },\n  {\n    id: \"114\",\n    nombre: \"Fallout: New Vegas\",\n    genero: \"RPG/Acción\",\n    plataforma: \"PC/Xbox\",\n    descripcion:\n      \"RPG profundo en Mojave con facciones complejas y narrativa ramificada\",\n    precio: \"9.99\",\n    tematica: \"Post-apocalíptico\",\n    desarrollador: \"Obsidian Entertainment\",\n    año: \"2010\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/22380/header.jpg\",\n  },\n  {\n    id: \"115\",\n    nombre: \"The Outer Worlds\",\n    genero: \"RPG/Acción\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"RPG satírico espacial en colonias corporatizadas con humor y decisiones\",\n    precio: \"29.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Obsidian Entertainment\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/578650/header.jpg\",\n  },\n  {\n    id: \"116\",\n    nombre: \"Armored Core VI: Fires of Rubicon\",\n    genero: \"Acción/Mechas\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Combate intenso de mechas personalizables con jugabilidad de FromSoftware\",\n    precio: \"59.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"FromSoftware\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1888160/header.jpg\",\n  },\n  {\n    id: \"117\",\n    nombre: \"Street Fighter 6\",\n    genero: \"Lucha\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Reinvención de la saga de lucha con World Tour y controles modernos\",\n    precio: \"59.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Capcom\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1364780/header.jpg\",\n  },\n  {\n    id: \"118\",\n    nombre: \"Tekken 8\",\n    genero: \"Lucha\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Evolución visual y técnica del combate 3D con sistema Heat agresivo\",\n    precio: \"69.99\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Bandai Namco\",\n    año: \"2024\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1778820/header.jpg\",\n  },\n  {\n    id: \"119\",\n    nombre: \"Mortal Kombat 1\",\n    genero: \"Lucha\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion: \"Reinicio del universo Mortal Kombat con sistema de Kameos\",\n    precio: \"69.99\",\n    tematica: \"Fantasía/Gore\",\n    desarrollador: \"NetherRealm Studios\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1971870/header.jpg\",\n  },\n  {\n    id: \"120\",\n    nombre: \"Guilty Gear Strive\",\n    genero: \"Lucha\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Lucha anime con visuales espectaculares y netcode de alta calidad\",\n    precio: \"39.99\",\n    tematica: \"Anime\",\n    desarrollador: \"Arc System Works\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1384300/header.jpg\",\n  },\n  {\n    id: \"121\",\n    nombre: \"Dragon Ball FighterZ\",\n    genero: \"Lucha\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Lucha 3v3 frenética recreando fielmente el estilo de Akira Toriyama\",\n    precio: \"59.99\",\n    tematica: \"Anime/Dragon Ball\",\n    desarrollador: \"Arc System Works\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/678950/header.jpg\",\n  },\n  {\n    id: \"122\",\n    nombre: \"Devil May Cry 5\",\n    genero: \"Acción/Hack & Slash\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion: \"Hack and slash con estilo exagerado y tres personajes únicos\",\n    precio: \"29.99\",\n    tematica: \"Fantasía Urbana\",\n    desarrollador: \"Capcom\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/601150/header.jpg\",\n  },\n  {\n    id: \"123\",\n    nombre: \"Bayonetta 3\",\n    genero: \"Acción/Hack & Slash\",\n    plataforma: \"Switch\",\n    descripcion:\n      \"Clímax de acción con la bruja Umbra invocando demonios gigantes\",\n    precio: \"59.99\",\n    tematica: \"Fantasía Urbana\",\n    desarrollador: \"PlatinumGames\",\n    año: \"2022\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/1/0/6/761106_front.jpg\",\n  },\n  {\n    id: \"124\",\n    nombre: \"NieR: Automata\",\n    genero: \"Acción/RPG\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Obra maestra filosófica sobre androides en mundo post-apocalíptico\",\n    precio: \"39.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"PlatinumGames\",\n    año: \"2017\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/524220/header.jpg\",\n  },\n  {\n    id: \"125\",\n    nombre: \"Batman: Arkham Knight\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Conclusión de la saga Arkham con Batmóvil explorable en Gotham\",\n    precio: \"19.99\",\n    tematica: \"Superhéroes/DC\",\n    desarrollador: \"Rocksteady Studios\",\n    año: \"2015\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/208650/header.jpg\",\n  },\n  {\n    id: \"126\",\n    nombre: \"Insomniac's Spider-Man 2\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PS5\",\n    descripcion:\n      \"Aventura épica controlando a Peter y Miles contra Venom y Kraven\",\n    precio: \"69.99\",\n    tematica: \"Superhéroes/Marvel\",\n    desarrollador: \"Insomniac Games\",\n    año: \"2023\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/1/0/2/385102_front.jpg\",\n  },\n  {\n    id: \"127\",\n    nombre: \"Uncharted 4: A Thief's End\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS5\",\n    descripcion:\n      \"Final del viaje de Nathan Drake buscando tesoro pirata de Libertalia\",\n    precio: \"39.99\",\n    tematica: \"Aventura/Tesoro\",\n    desarrollador: \"Naughty Dog\",\n    año: \"2016\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1659420/header.jpg\",\n  },\n  {\n    id: \"128\",\n    nombre: \"Tomb Raider (2013)\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Reinicio de Lara Croft sobreviviendo en isla misteriosa de Yamatai\",\n    precio: \"14.99\",\n    tematica: \"Aventura/Supervivencia\",\n    desarrollador: \"Crystal Dynamics\",\n    año: \"2013\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/203160/header.jpg\",\n  },\n  {\n    id: \"129\",\n    nombre: \"Lies of P\",\n    genero: \"Souls-like\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Souls-like oscuro basado en Pinocho en ciudad Belle Époque Krat\",\n    precio: \"59.99\",\n    tematica: \"Fantasía Oscura\",\n    desarrollador: \"Neowiz Games\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1446780/header.jpg\",\n  },\n  {\n    id: \"130\",\n    nombre: \"Remnant 2\",\n    genero: \"Soulslike/TPS\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Shooter souls-like cooperativo con mundos generados proceduralmente\",\n    precio: \"49.99\",\n    tematica: \"Ciencia Ficción/Fantasía\",\n    desarrollador: \"Gunfire Games\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1282100/header.jpg\",\n  },\n  {\n    id: \"131\",\n    nombre: \"Black Myth: Wukong\",\n    genero: \"Acción/RPG\",\n    plataforma: \"PC/PS5\",\n    descripcion:\n      \"Acción épica inspirada en Viaje al Oeste con gráficos next-gen\",\n    precio: \"59.99\",\n    tematica: \"Mitología China\",\n    desarrollador: \"Game Science\",\n    año: \"2024\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/2358720/header.jpg\",\n  },\n  {\n    id: \"132\",\n    nombre: \"Kingdom Come: Deliverance\",\n    genero: \"RPG\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion: \"RPG medieval realista sin elementos de fantasía en Bohemia\",\n    precio: \"29.99\",\n    tematica: \"Histórico Medieval\",\n    desarrollador: \"Warhorse Studios\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/379430/header.jpg\",\n  },\n  {\n    id: \"133\",\n    nombre: \"Mount & Blade II: Bannerlord\",\n    genero: \"RPG/Estrategia\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Simulador de guerra medieval liderando ejércitos y forjando reinos\",\n    precio: \"49.99\",\n    tematica: \"Histórico Medieval\",\n    desarrollador: \"TaleWorlds Entertainment\",\n    año: \"2022\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/261550/header.jpg\",\n  },\n  {\n    id: \"134\",\n    nombre: \"Chivalry 2\",\n    genero: \"Acción/Multijugador\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion: \"Batallas medievales masivas multijugador con combate técnico\",\n    precio: \"39.99\",\n    tematica: \"Histórico Medieval\",\n    desarrollador: \"Torn Banner Studios\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1824220/header.jpg\",\n  },\n  {\n    id: \"135\",\n    nombre: \"Hellblade: Senua's Sacrifice\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Viaje psicológico intenso de guerrera celta al inframundo nórdico\",\n    precio: \"29.99\",\n    tematica: \"Mitología Nórdica\",\n    desarrollador: \"Ninja Theory\",\n    año: \"2017\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/414340/header.jpg\",\n  },\n  {\n    id: \"136\",\n    nombre: \"The Legend of Zelda: Link's Awakening\",\n    genero: \"Aventura\",\n    plataforma: \"Switch\",\n    descripcion: \"Encantador remake del clásico de GameBoy en Isla Koholint\",\n    precio: \"59.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Nintendo\",\n    año: \"2019\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/5/5/5/723555_front.jpg\",\n  },\n  {\n    id: \"137\",\n    nombre: \"Metroid Dread\",\n    genero: \"Metroidvania\",\n    plataforma: \"Switch\",\n    descripcion:\n      \"Regreso triunfal de Samus en 2D siendo perseguida por robots E.M.M.I.\",\n    precio: \"59.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"MercurySteam\",\n    año: \"2021\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/1/0/2/385102_front.jpg\",\n  },\n  {\n    id: \"138\",\n    nombre: \"Metroid Prime Remastered\",\n    genero: \"Aventura/FPS\",\n    plataforma: \"Switch\",\n    descripcion:\n      \"Remasterización perfecta del clásico de GameCube en primera persona\",\n    precio: \"39.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Retro Studios\",\n    año: \"2023\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/1/0/2/385102_front.jpg\",\n  },\n  {\n    id: \"139\",\n    nombre: \"Super Smash Bros. Ultimate\",\n    genero: \"Lucha\",\n    plataforma: \"Switch\",\n    descripcion:\n      \"Crossover definitivo con todos los luchadores de la historia de Smash\",\n    precio: \"59.99\",\n    tematica: \"Nintendo/Crossover\",\n    desarrollador: \"Nintendo\",\n    año: \"2018\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/1/0/2/385102_front.jpg\",\n  },\n  {\n    id: \"140\",\n    nombre: \"Mario Kart 8 Deluxe\",\n    genero: \"Carreras\",\n    plataforma: \"Switch\",\n    descripcion:\n      \"El juego de karts definitivo con 48 pistas y multijugador masivo\",\n    precio: \"59.99\",\n    tematica: \"Fantasía/Mario\",\n    desarrollador: \"Nintendo\",\n    año: \"2017\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/1/0/2/385102_front.jpg\",\n  },\n  {\n    id: \"141\",\n    nombre: \"Splatoon 3\",\n    genero: \"Shooter/Multijugador\",\n    plataforma: \"Switch\",\n    descripcion: \"Batallas de tinta por equipos con Inklings y Octolings\",\n    precio: \"59.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Nintendo\",\n    año: \"2022\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/1/0/2/385102_front.jpg\",\n  },\n  {\n    id: \"142\",\n    nombre: \"Animal Crossing: New Horizons\",\n    genero: \"Simulación\",\n    plataforma: \"Switch\",\n    descripcion:\n      \"Crea tu propio paraíso en una isla desierta con vecinos animales\",\n    precio: \"59.99\",\n    tematica: \"Relajante\",\n    desarrollador: \"Nintendo\",\n    año: \"2020\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/1/0/2/385102_front.jpg\",\n  },\n  {\n    id: \"143\",\n    nombre: \"Xenoblade Chronicles 3\",\n    genero: \"JRPG\",\n    plataforma: \"Switch\",\n    descripcion:\n      \"RPG épico sobre la vida y la guerra con mundo masivo explorable\",\n    precio: \"59.99\",\n    tematica: \"Ciencia Ficción/Fantasía\",\n    desarrollador: \"Monolith Soft\",\n    año: \"2022\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/1/0/2/385102_front.jpg\",\n  },\n  {\n    id: \"144\",\n    nombre: \"Fire Emblem Engage\",\n    genero: \"Estrategia/RPG\",\n    plataforma: \"Switch\",\n    descripcion:\n      \"Combate táctico refinado invocando héroes clásicos de la saga\",\n    precio: \"59.99\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"Intelligent Systems\",\n    año: \"2023\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/1/0/2/385102_front.jpg\",\n  },\n  {\n    id: \"145\",\n    nombre: \"Paper Mario: The Thousand-Year Door\",\n    genero: \"RPG\",\n    plataforma: \"Switch\",\n    descripcion:\n      \"Remake del querido RPG de Mario con estilo de papel y gran humor\",\n    precio: \"59.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Intelligent Systems\",\n    año: \"2024\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/1/0/2/385102_front.jpg\",\n  },\n  {\n    id: \"146\",\n    nombre: \"Outer Wilds\",\n    genero: \"Aventura/Exploración\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Misterio espacial en bucle temporal con exploración no lineal\",\n    precio: \"24.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Mobius Digital\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/753640/header.jpg\",\n  },\n  {\n    id: \"147\",\n    nombre: \"Tunic\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Pequeño zorro explora mundo lleno de secretos con manual retro\",\n    precio: \"29.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Andrew Shouldice\",\n    año: \"2022\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/553420/header.jpg\",\n  },\n  {\n    id: \"148\",\n    nombre: \"Dave the Diver\",\n    genero: \"Aventura/Simulación\",\n    plataforma: \"PC/PS5/Switch\",\n    descripcion:\n      \"Buceo de día para pescar y gestión de restaurante sushi de noche\",\n    precio: \"19.99\",\n    tematica: \"Casual\",\n    desarrollador: \"MINTROCKET\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1868140/header.jpg\",\n  },\n  {\n    id: \"149\",\n    nombre: \"Sea of Stars\",\n    genero: \"JRPG\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"RPG por turnos inspirado en clásicos con arte pixelart precioso\",\n    precio: \"34.99\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Sabotage Studio\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1244090/header.jpg\",\n  },\n  {\n    id: \"150\",\n    nombre: \"Dredge\",\n    genero: \"Aventura/Pesca/Horror\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Pesca en archipiélago con misterios lovecraftianos bajo el agua\",\n    precio: \"24.99\",\n    tematica: \"Horror Cósmico\",\n    desarrollador: \"Black Salt Games\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1560520/header.jpg\",\n  },\n  {\n    id: \"151\",\n    nombre: \"Balatro\",\n    genero: \"Roguelike/Cartas\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion: \"Roguelike de póker adictivo usando jokers y cartas mágicas\",\n    precio: \"14.99\",\n    tematica: \"Casino\",\n    desarrollador: \"LocalThunk\",\n    año: \"2024\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/2379780/header.jpg\",\n  },\n  {\n    id: \"152\",\n    nombre: \"Vampire Survivors\",\n    genero: \"Acción/Roguelike\",\n    plataforma: \"PC/Xbox/Switch/Mobile\",\n    descripcion: \"Supervivencia contra hordas masivas con ataques automáticos\",\n    precio: \"4.99\",\n    tematica: \"Horror Gótico\",\n    desarrollador: \"poncle\",\n    año: \"2022\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1794680/header.jpg\",\n  },\n  {\n    id: \"153\",\n    nombre: \"Cult of the Lamb\",\n    genero: \"Roguelike/Simulación\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion: \"Gestiona tu propia secta y combate en mazmorras como cordero\",\n    precio: \"24.99\",\n    tematica: \"Fantasía Oscura\",\n    desarrollador: \"Massive Monster\",\n    año: \"2022\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1313140/header.jpg\",\n  },\n  {\n    id: \"154\",\n    nombre: \"A Short Hike\",\n    genero: \"Exploración\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Pequeña aventura relajante escalando parque natural Hawk Peak\",\n    precio: \"7.99\",\n    tematica: \"Relajante\",\n    desarrollador: \"Adamgryu\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1055540/header.jpg\",\n  },\n  {\n    id: \"155\",\n    nombre: \"Untitled Goose Game\",\n    genero: \"Puzzle/Stealth\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Eres un ganso travieso que debe molestar a los habitantes de un pueblo\",\n    precio: \"19.99\",\n    tematica: \"Humor\",\n    desarrollador: \"House House\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1101910/header.jpg\",\n  },\n  {\n    id: \"156\",\n    nombre: \"Katana ZERO\",\n    genero: \"Acción/Plataformas\",\n    plataforma: \"PC/Xbox/Switch\",\n    descripcion: \"Acción rápida 2D con manipulación del tiempo y estética neón\",\n    precio: \"14.99\",\n    tematica: \"Cyberpunk\",\n    desarrollador: \"Askiisoft\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/460950/header.jpg\",\n  },\n  {\n    id: \"157\",\n    nombre: \"Neon White\",\n    genero: \"FPS/Puzzle\",\n    plataforma: \"PC/PS5/Switch\",\n    descripcion:\n      \"Shooter de velocidad usando cartas para parkour y eliminar demonios\",\n    precio: \"24.99\",\n    tematica: \"Anime\",\n    desarrollador: \"Angel Matrix\",\n    año: \"2022\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1533420/header.jpg\",\n  },\n  {\n    id: \"158\",\n    nombre: \"Sifu\",\n    genero: \"Acción/Beat 'em up\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion: \"Combate Kung-Fu técnico donde envejeces cada vez que mueres\",\n    precio: \"39.99\",\n    tematica: \"Artes Marciales\",\n    desarrollador: \"Sloclap\",\n    año: \"2022\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/2138710/header.jpg\",\n  },\n  {\n    id: \"159\",\n    nombre: \"Ghostrunner 2\",\n    genero: \"Acción/Cyberpunk\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Acción intensa en primera persona con parkour y combate letal\",\n    precio: \"39.99\",\n    tematica: \"Cyberpunk\",\n    desarrollador: \"One More Level\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/2144740/header.jpg\",\n  },\n  {\n    id: \"160\",\n    nombre: \"Hi-Fi RUSH\",\n    genero: \"Acción/Ritmo\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion: \"Hack and slash donde todo ocurre al ritmo de la música\",\n    precio: \"29.99\",\n    tematica: \"Cartoon\",\n    desarrollador: \"Tango Gameworks\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1817230/header.jpg\",\n  },\n  {\n    id: \"161\",\n    nombre: \"Portal 2\",\n    genero: \"Puzzle\",\n    plataforma: \"PC/PS3/Xbox 360/Switch\",\n    descripcion:\n      \"Obra maestra de puzzles usando portales con narrativa brillante\",\n    precio: \"9.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Valve\",\n    año: \"2011\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/620/header.jpg\",\n  },\n  {\n    id: \"162\",\n    nombre: \"Half-Life: Alyx\",\n    genero: \"FPS/VR\",\n    plataforma: \"PC VR\",\n    descripcion:\n      \"La mejor experiencia VR hasta la fecha en el universo Half-Life\",\n    precio: \"59.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Valve\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/546560/header.jpg\",\n  },\n  {\n    id: \"163\",\n    nombre: \"Left 4 Dead 2\",\n    genero: \"FPS/Cooperativo\",\n    plataforma: \"PC/Xbox 360\",\n    descripcion: \"Shooter cooperativo de zombies frenético y rejugable\",\n    precio: \"9.99\",\n    tematica: \"Zombies\",\n    desarrollador: \"Valve\",\n    año: \"2009\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/550/header.jpg\",\n  },\n  {\n    id: \"164\",\n    nombre: \"Team Fortress 2\",\n    genero: \"FPS/Multijugador\",\n    plataforma: \"PC\",\n    descripcion:\n      \"Shooter basado en clases carismáticas con economía de sombreros\",\n    precio: \"Free\",\n    tematica: \"Cartoon\",\n    desarrollador: \"Valve\",\n    año: \"2007\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg\",\n  },\n  {\n    id: \"165\",\n    nombre: \"Dota 2\",\n    genero: \"MOBA\",\n    plataforma: \"PC\",\n    descripcion:\n      \"MOBA complejo y competitivo con profundidad estratégica infinita\",\n    precio: \"Free\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Valve\",\n    año: \"2013\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/570/header.jpg\",\n  },\n  {\n    id: \"166\",\n    nombre: \"Counter-Strike: Global Offensive\",\n    genero: \"FPS\",\n    plataforma: \"PC\",\n    descripcion: \"Shooter táctico competitivo referente en los esports\",\n    precio: \"Free\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Valve\",\n    año: \"2012\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/730/header.jpg\",\n  },\n  {\n    id: \"167\",\n    nombre: \"Life is Strange\",\n    genero: \"Aventura Narrativa\",\n    plataforma: \"PC/PS4/Xbox/Mobile\",\n    descripcion:\n      \"Historia emocional de Max Caulfield pudiendo rebobinar el tiempo\",\n    precio: \"19.99\",\n    tematica: \"Drama\",\n    desarrollador: \"Dontnod Entertainment\",\n    año: \"2015\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/319630/header.jpg\",\n  },\n  {\n    id: \"168\",\n    nombre: \"What Remains of Edith Finch\",\n    genero: \"Aventura Narrativa\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Exploración de casa familiar descubriendo historias de muertes trágicas\",\n    precio: \"19.99\",\n    tematica: \"Misterio\",\n    desarrollador: \"Giant Sparrow\",\n    año: \"2017\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/501300/header.jpg\",\n  },\n  {\n    id: \"169\",\n    nombre: \"Firewatch\",\n    genero: \"Aventura Narrativa\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Vigilante forestal en Wyoming con relación vía radio misteriosa\",\n    precio: \"19.99\",\n    tematica: \"Misterio/Naturaleza\",\n    desarrollador: \"Campo Santo\",\n    año: \"2016\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/383870/header.jpg\",\n  },\n  {\n    id: \"170\",\n    nombre: \"The Stanley Parable: Ultra Deluxe\",\n    genero: \"Aventura Narrativa\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Meta-narrativa surrealista sobre libertad de elección en oficina\",\n    precio: \"24.99\",\n    tematica: \"Sátira/Humor\",\n    desarrollador: \"Crows Crows Crows\",\n    año: \"2022\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1703340/header.jpg\",\n  },\n  {\n    id: \"171\",\n    nombre: \"Heavy Rain\",\n    genero: \"Aventura Narrativa\",\n    plataforma: \"PC/PS4\",\n    descripcion:\n      \"Thriller psicológico sobre asesino del Origami con múltiples finales\",\n    precio: \"19.99\",\n    tematica: \"Crimen/Thriller\",\n    desarrollador: \"Quantic Dream\",\n    año: \"2010\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/960910/header.jpg\",\n  },\n  {\n    id: \"172\",\n    nombre: \"Detroit: Become Human\",\n    genero: \"Aventura Narrativa\",\n    plataforma: \"PC/PS4\",\n    descripcion:\n      \"Androides buscan libertad en futuro cercano con decisiones críticas\",\n    precio: \"39.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Quantic Dream\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1150640/header.jpg\",\n  },\n  {\n    id: \"173\",\n    nombre: \"Journey\",\n    genero: \"Aventura/Exploración\",\n    plataforma: \"PC/PS4\",\n    descripcion:\n      \"Viaje visual y musical hacia una montaña en desierto infinito\",\n    precio: \"14.99\",\n    tematica: \"Poético\",\n    desarrollador: \"thatgamecompany\",\n    año: \"2012\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/638230/header.jpg\",\n  },\n  {\n    id: \"174\",\n    nombre: \"Inside\",\n    genero: \"Puzzle/Plataformas\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion: \"Atmosférico y oscuro viaje de un niño en distopía industrial\",\n    precio: \"19.99\",\n    tematica: \"Horror/Distopía\",\n    desarrollador: \"Playdead\",\n    año: \"2016\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/304430/header.jpg\",\n  },\n  {\n    id: \"175\",\n    nombre: \"Limbo\",\n    genero: \"Puzzle/Plataformas\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion: \"Clásico indie en blanco y negro lleno de trampas mortales\",\n    precio: \"9.99\",\n    tematica: \"Horror\",\n    desarrollador: \"Playdead\",\n    año: \"2010\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/48000/header.jpg\",\n  },\n  {\n    id: \"176\",\n    nombre: \"Little Nightmares II\",\n    genero: \"Horror/Puzzle\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Aventura de suspense controlando a Mono en mundo distorsionado\",\n    precio: \"29.99\",\n    tematica: \"Horror\",\n    desarrollador: \"Tarsier Studios\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/860510/header.jpg\",\n  },\n  {\n    id: \"177\",\n    nombre: \"Super Meat Boy\",\n    genero: \"Plataformas\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion: \"Plataformas hardcore de precisión con trozo de carne animado\",\n    precio: \"14.99\",\n    tematica: \"Retro/Humor\",\n    desarrollador: \"Team Meat\",\n    año: \"2010\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/40800/header.jpg\",\n  },\n  {\n    id: \"178\",\n    nombre: \"Spelunky 2\",\n    genero: \"Roguelike/Plataformas\",\n    plataforma: \"PC/PS4/Xbox/Switch\",\n    descripcion:\n      \"Exploración de cuevas traicioneras con muertes constantes y sorpresas\",\n    precio: \"19.99\",\n    tematica: \"Aventura\",\n    desarrollador: \"Mossmouth\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/418100/header.jpg\",\n  },\n  {\n    id: \"179\",\n    nombre: \"Papers, Please\",\n    genero: \"Simulación/Puzzle\",\n    plataforma: \"PC/Mobile\",\n    descripcion:\n      \"Inspector de fronteras en estado totalitario tomando decisiones morales\",\n    precio: \"9.99\",\n    tematica: \"Distopía/Político\",\n    desarrollador: \"Lucas Pope\",\n    año: \"2013\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/239030/header.jpg\",\n  },\n  {\n    id: \"180\",\n    nombre: \"Frostpunk\",\n    genero: \"Estrategia/Supervivencia\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Gestiona la última ciudad de la tierra en invierno post-apocalíptico\",\n    precio: \"29.99\",\n    tematica: \"Steampunk/Post-apocalíptico\",\n    desarrollador: \"11 bit studios\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/384570/header.jpg\",\n  },\n  {\n    id: \"181\",\n    nombre: \"This War of Mine\",\n    genero: \"Supervivencia/Estrategia\",\n    plataforma: \"PC/PS4/Xbox/Switch/Mobile\",\n    descripcion:\n      \"Sobrevive a una guerra desde la perspectiva de civiles asediados\",\n    precio: \"19.99\",\n    tematica: \"Guerra/Realista\",\n    desarrollador: \"11 bit studios\",\n    año: \"2014\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/282070/header.jpg\",\n  },\n  {\n    id: \"182\",\n    nombre: \"KOTOR - Star Wars: Knights of the Old Republic\",\n    genero: \"RPG\",\n    plataforma: \"PC/Xbox/Switch/Mobile\",\n    descripcion: \"El mejor RPG de Star Wars con giro argumental legendario\",\n    precio: \"9.99\",\n    tematica: \"Ciencia Ficción/Star Wars\",\n    desarrollador: \"BioWare\",\n    año: \"2003\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/32370/header.jpg\",\n  },\n  {\n    id: \"183\",\n    nombre: \"Mass Effect 2\",\n    genero: \"RPG/Acción\",\n    plataforma: \"PC/PS3/Xbox 360\",\n    descripcion: \"Misión suicida reuniendo al mejor equipo de la galaxia\",\n    precio: \"19.99\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"BioWare\",\n    año: \"2010\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/24980/header.jpg\",\n  },\n  {\n    id: \"184\",\n    nombre: \"Dragon Age: Origins\",\n    genero: \"RPG\",\n    plataforma: \"PC/PS3/Xbox 360\",\n    descripcion:\n      \"Sucesor espiritual de Baldur's Gate en mundo de fantasía oscura\",\n    precio: \"19.99\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"BioWare\",\n    año: \"2009\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/17450/header.jpg\",\n  },\n  {\n    id: \"185\",\n    nombre: \"Yakuza: Like a Dragon\",\n    genero: \"JRPG\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Reinicio de Yakuza con combate por turnos y nuevo protagonista Ichiban\",\n    precio: \"59.99\",\n    tematica: \"Crimen/Humor\",\n    desarrollador: \"Ryu Ga Gotoku Studio\",\n    año: \"2020\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1235140/header.jpg\",\n  },\n  {\n    id: \"186\",\n    nombre: \"Judgment\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion:\n      \"Investigación detectivesca en Kamurocho como el abogado Takayuki Yagami\",\n    precio: \"39.99\",\n    tematica: \"Crimen/Misterio\",\n    desarrollador: \"Ryu Ga Gotoku Studio\",\n    año: \"2018\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/2058180/header.jpg\",\n  },\n  {\n    id: \"187\",\n    nombre: \"Sleeping Dogs\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion:\n      \"Policía encubierto en las tríadas de Hong Kong con combate brutal\",\n    precio: \"19.99\",\n    tematica: \"Crimen/Artes Marciales\",\n    desarrollador: \"United Front Games\",\n    año: \"2012\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/202170/header.jpg\",\n  },\n  {\n    id: \"188\",\n    nombre: \"Metal Gear Solid V: The Phantom Pain\",\n    genero: \"Acción/Stealth\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion: \"Sigilo táctico de mundo abierto definitivo con Big Boss\",\n    precio: \"19.99\",\n    tematica: \"Espionaje\",\n    desarrollador: \"Kojima Productions\",\n    año: \"2015\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/287700/header.jpg\",\n  },\n  {\n    id: \"189\",\n    nombre: \"Death Stranding Director's Cut\",\n    genero: \"Acción/Aventura\",\n    plataforma: \"PC/PS5\",\n    descripcion:\n      \"Versión definitiva del viaje de Sam Porter con nuevo contenido\",\n    precio: \"49.99\",\n    tematica: \"Post-apocalíptico\",\n    desarrollador: \"Kojima Productions\",\n    año: \"2021\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1850570/header.jpg\",\n  },\n  {\n    id: \"190\",\n    nombre: \"Kingdom Hearts III\",\n    genero: \"Action RPG\",\n    plataforma: \"PC/PS4/Xbox\",\n    descripcion: \"Cierre de la saga de Sora visitando mundos de Disney y Pixar\",\n    precio: \"59.99\",\n    tematica: \"Fantasía/Disney\",\n    desarrollador: \"Square Enix\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1408370/header.jpg\",\n  },\n  {\n    id: \"191\",\n    nombre: \"Fortnite\",\n    genero: \"Battle Royale\",\n    plataforma: \"PC/PS5/Xbox/Switch/Mobile\",\n    descripcion:\n      \"Battle Royale masivo con construcción eventos en vivo y colaboraciones\",\n    precio: \"Free\",\n    tematica: \"Crossover\",\n    desarrollador: \"Epic Games\",\n    año: \"2017\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/0/0/752101_front.jpg\",\n  },\n  {\n    id: \"192\",\n    nombre: \"Apex Legends\",\n    genero: \"Battle Royale/FPS\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Hero shooter battle royale con movimiento fluido y leyendas únicas\",\n    precio: \"Free\",\n    tematica: \"Ciencia Ficción\",\n    desarrollador: \"Respawn Entertainment\",\n    año: \"2019\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/1172470/header.jpg\",\n  },\n  {\n    id: \"193\",\n    nombre: \"PUBG: Battlegrounds\",\n    genero: \"Battle Royale\",\n    plataforma: \"PC/PS5/Xbox\",\n    descripcion: \"BR original realista con múltiples mapas y gunplay táctico\",\n    precio: \"Free\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"PUBG Corporation\",\n    año: \"2017\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/578080/header.jpg\",\n  },\n  {\n    id: \"194\",\n    nombre: \"Valorant\",\n    genero: \"FPS\",\n    plataforma: \"PC\",\n    descripcion:\n      \"Tactical shooter 5v5 con agentes habilidades únicas estilo CS\",\n    precio: \"Free\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Riot Games\",\n    año: \"2020\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/0/0/794296_front.jpg\",\n  },\n  {\n    id: \"195\",\n    nombre: \"Counter-Strike 2\",\n    genero: \"FPS\",\n    plataforma: \"PC\",\n    descripcion:\n      \"Tactical shooter competitivo remake en Source 2 con economía rondas\",\n    precio: \"Free\",\n    tematica: \"Contemporáneo\",\n    desarrollador: \"Valve\",\n    año: \"2023\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/730/header.jpg\",\n  },\n  {\n    id: \"196\",\n    nombre: \"Overwatch 2\",\n    genero: \"Hero Shooter\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion: \"Hero shooter 5v5 con roles tanque daño y soporte\",\n    precio: \"Free\",\n    tematica: \"Futurista\",\n    desarrollador: \"Blizzard Entertainment\",\n    año: \"2022\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/2358720/header.jpg\",\n  },\n  {\n    id: \"197\",\n    nombre: \"League of Legends\",\n    genero: \"MOBA\",\n    plataforma: \"PC\",\n    descripcion: \"MOBA 5v5 con 160+ campeones en Summoner's Rift competitivo\",\n    precio: \"Free\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Riot Games\",\n    año: \"2009\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/0/0/633363_front.jpg\",\n  },\n  {\n    id: \"198\",\n    nombre: \"Dota 2\",\n    genero: \"MOBA\",\n    plataforma: \"PC\",\n    descripcion:\n      \"MOBA complejo con héroes items y estrategia de equipo profunda\",\n    precio: \"Free\",\n    tematica: \"Fantasía Medieval\",\n    desarrollador: \"Valve\",\n    año: \"2013\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/570/header.jpg\",\n  },\n  {\n    id: \"199\",\n    nombre: \"Rocket League\",\n    genero: \"Deportes/Arcade\",\n    plataforma: \"PC/PS5/Xbox/Switch\",\n    descripcion:\n      \"Fútbol con coches propulsados por cohetes en partidas competitivas\",\n    precio: \"Free\",\n    tematica: \"Futurista\",\n    desarrollador: \"Psyonix\",\n    año: \"2015\",\n    url_imagen:\n      \"https://cdn.cloudflare.steamstatic.com/steam/apps/252950/header.jpg\",\n  },\n  {\n    id: \"200\",\n    nombre: \"Minecraft\",\n    genero: \"Sandbox\",\n    plataforma: \"PC/PS5/Xbox/Switch/Mobile\",\n    descripcion:\n      \"Construcción y supervivencia en mundos procedurales de bloques infinitos\",\n    precio: \"26.95\",\n    tematica: \"Fantasía\",\n    desarrollador: \"Mojang Studios\",\n    año: \"2011\",\n    url_imagen: \"https://gamefaqs.gamespot.com/a/box/0/0/663403_front.jpg\",\n  },\n];\n  return videojuegos\n} catch (error) {\n  return [\n    {\n      json: {\n        error: true,\n        message: error.message,\n        stack: error.stack,\n      },\n    },\n  ];\n}\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ],
      "id": "bb58ce17-69dc-483b-9138-9509d4d6efc2",
      "name": "Datos vidiojuegosbd (raw)"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\ntry {\n  const items = $input.all();\n\n  // Transformar la info para preparar texto para el embedding\n  /**\n   * Juego:nombre_juego. Género:genero_del_juego\n   * CUIDADO AL QUITAR LOS ESPACIOS EN BLANCO, TABULADORES, ETC.. , DEL RESULTADO\n   */\n\n  const data = items.map(objeto => ({\n    pageContent: `Juego: ${objeto.json.nombre}.\nGénero: ${objeto.json.genero}.\nDescripción: ${objeto.json.descripcion}.\nTemática: ${objeto.json.tematica}.`,\n    ...objeto.json,\n  }));\n\n  return data;\n\n} catch (error) {\n  return [\n    {\n      json: {\n        error: true,\n        message: error.message,\n        stack: error.stack,\n      },\n    },\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        0
      ],
      "id": "1df1db51-820a-4207-86b1-6748016feddf",
      "name": "formateador de datos"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\ntry{\nconst items = $input.all()\n\nconst dataFiltrada = items.filter( item => item.json?.genero.toUpperCase() === \"RPG\" )\n}catch (error){\n   return [\n    {\n      json: {\n        error: true,\n        message: error.message,\n        stack: error.stack,\n      },\n    },\n  ];\n}\n//return dataFiltrada\n\nreturn items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        160
      ],
      "id": "1acd6871-e2d8-4f56-b1ab-40bf31c1745e",
      "name": "Filtro JS"
    },
    {
      "parameters": {
        "content": "## Datos\nDatos sacados de vidiojuegosdb con 200 juegos\n",
        "height": 128,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        160
      ],
      "typeVersion": 1,
      "id": "54b66be7-8447-4a7a-90c7-d71d3c447e68",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Datos vidiojuegosbd (raw)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        []
      ]
    },
    "Datos vidiojuegosbd (raw)": {
      "main": [
        [
          {
            "node": "formateador de datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formateador de datos": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtro JS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro JS": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "32d80729-25e8-479e-a4b0-b93475969b13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0714c45eb2e4d4a8bf01f50b2fbf45dd305fbcb821687fd00573ebccd4af9a3f"
  },
  "id": "vXyvawyVPkt-wiZYuOtKk",
  "tags": []
}